# Build results
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/

# SQLite databases
*.db
*.sqlite
*.sqlite3
*.db3

# Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
